<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="front page">
  <meta name="author" content="StevenXu">
  <!--link rel="icon" href="../../favicon.ico"-->

  <title>Frontpage Template in Bootstrap</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/hypertensionApp/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../static/hypertensionApp/css/frontpage.css"  rel="stylesheet">

  <!--[if lt IE 9]>    <script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
  <script src="../../assets/js/ie-emulation-modes-warning.js"></script>
    <script src="../static/hypertensionApp/js/fhir-client.js"></script>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>

<body>
<div class="navbar-wrapper">
  <div class="container">

    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse ">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#about">Home</a></li>
            <li><a href="login.html">Log in</a></li>
            <li><a href="maindashboard.html">Main dashboard</a></li>
          </ul>
        </div>
      </div>
    </nav>

  </div>
</div>

<div class="jumbotron">
  <h1>Beat hypertension</h1>
  <p class="lead">An excellent blood pressure management app with hypertention risk prediction and alert mechanism.</p>
  <p><a class="btn btn-lg btn-success"  href="login.html" role="button">Let's start it!</a></p>
</div>


<div class="container">
  <div class="marketing">
    <h1>Introducing Beat hypertention.</h1>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <img class="img-circle" src="../static/hypertensionApp/images/risk.png" alt="Generic placeholder image" width="140" height="140">
      <h2>Risk prediction</h2>
      <p>Everyone would possibly sink in hypertension. This app is able to predict your risk of hypertension by your electronic health record even if without abnormal parameter of blood pressure or obvious symptom.</p>
      <p><a class="btn btn-default" href="introriskpredicton.html" target=”_blank" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-6 -->
    <div class="col-lg-6">
      <img class="img-circle" src="../static/hypertensionApp/images/alarms.png" alt="Generic placeholder image" width="140" height="140">
      <h2>Health alert</h2>
      <p>Alert you when you are in high risk of hypertension or in trouble with hypertension treating management.</p>
      <p><a class="btn btn-default" href="introhealthalert.html" target=”_blank" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-6 -->
  </div><!-- /.row -->
</div>

<hr class="featurette-divider">

<footer>
  <p class="pull-right"><a href="#">Back to top</a></p>
  <p>&copy; 2015, Gerontech lab of HFUT &middot; <a href="#">Copyright</a> &middot; <a href="#">Terms</a></p>
</footer>

</body>
</html>
